@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Kaushan+Script|Lobster+Two');


/*
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lobster Two', cursive;
	font-family: 'Josefin Slab', serif;
*/

body{
	margin:0;
	padding:0;
	background:url("image/img01.png") no-repeat;
	background-size:cover;
}

.box{
	width:450px;
	background: rgba(0, 0, 0, 0.4);
	padding:40px;
	text-align:center;
	margin:auto;
	margin-top:5%;
	color:white;
}

.box-img{
	border-radius:50%;
	width:200px;
	height:200px;
}

.box h1{
	font-family: 'Lobster Two', cursive;
	font-size:40px;
	letter-spacing:4px;
	font-weight:100;
}

.box h5{
	font-family: 'Kaushan Script', cursive;
	font-size:20px;
	letter-spacing:3px;
	font-weight:100;
}

.box p{
	font-family: 'Josefin Slab', serif;
	text-align:justify;
}

.box li{
	display:inline-block;
	margin:6px;
	list-style:none;
}

.box li a{
	color:white;
	text-decoration:none;
	font-size:60px;
	transition: all ease-in-out 250ms;
}

.box li a:hover{
	color:#b9b9b9;
}











